/***** General Styles *****/
:root {
  font-size: 62.5%;
}

img,
div {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
  background: url('./assets/fundo.svg') no-repeat center;
  background-size: cover;
}

/***** Moles *****/
.mole-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 4rem;
  width: min(110rem, calc(100% - 4rem));
  padding-block: 4rem;
}

.mole {
  width: 16rem;
  height: 14rem;
  background-image: url('./assets/toupeira6.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.mole.show-mole {
  animation: showMole backwards 0.8s 1s linear;
}

.mole.show-mole:nth-child(4) {
  animation-delay: 2s;
}

.mole.show-mole:nth-child(7) {
  animation-delay: 3.2s;
}

.mole.show-mole:nth-child(10) {
  animation-delay: 5s;
}

.mole.show-mole:nth-child(12) {
  animation-delay: 6.8s;
}

/***** Responsive *****/
@media only screen and (max-width: 767px) {
  .mole-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 420px) {
  .mole {
    width: 10rem;
    height: 8rem;
  }
}

@keyframes showMole {
  16.666% {
    background-image: url('./assets/toupeira5.svg');
  }

  33.332% {
    background-image: url('./assets/toupeira4.svg');
  }

  49.998% {
    background-image: url('./assets/toupeira3.svg');
  }

  66.664% {
    background-image: url('./assets/toupeira2.svg');
  }

  83.33% {
    background-image: url('./assets/toupeira1.svg');
  }

  100% {
    background-image: url('./assets/toupeira5.svg');
  }
}
